// scss-entrypoint.scss
@charset 'utf-8';

$color-back: #DDDDDD;
$color-bright: #C04848;
$color-input: #EEEEEE;
$color-text: #300030;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;

$input-color: $color-text;
$input-background-color: $color-input;
$box-background-color: $color-input;

$title-color: $color-bright;

$primary: $color-back;
$link: $color-bright;
$info: $color-bright;
// $success: $green;
// $warning: $yellow;
// $danger: $red;
$dark: $color-input;
$text: $color-text;

$footer-background-color: $color-back;
$body-background-color: $color-back;


$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
// $footer-background-color: $beige-lighter;
// $body-background-color: $beige-lighter;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$box-shadow: none;
$box-padding: 0.5em 0.75em 0.5em;
$box-radius: 4px;
$column-gap: 0.4rem 0.8rem 0.4rem 0;


$body-min-width: 920px;
$body-overflow-x: "scroll";


// Import only what you need from Bulma
@import "node_modules/bulma/sass/utilities/_all";
@import "node_modules/bulma/sass/base/_all";
@import "node_modules/bulma/sass/elements/_all";
@import "node_modules/bulma/sass/form/_all";
@import "node_modules/bulma/sass/components/_all";
@import "node_modules/bulma/sass/grid/_all";
@import "node_modules/bulma/sass/layout/_all";

div.container:not(:first-child) {
    padding-bottom: 2em;
}

div.column:last-child {
    padding-right: 0;
}

img {
    min-width: 100px;
    min-height: 100px
}
